.hh-leaflet-container {
  .hh-alert-wave-container {
    .v-alert-title {
      font-size: 16px
    }
  }

  .hh-smithy-shop-offer,
  .hh-panel-fire-cannon {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $z-index-leaflet-map;
  }

  &.is-full-screen {
    .hh-alert-wave-container,
    .hh-area-switchers,
    .hh-smithy-shop-offer,
    .hh-panel-fire-cannon,
    .hh-badges {
      @include above-fullscreen-leaflet
    }

    .hh-alert-wave-container {
        top: 0;
        right: 15%;
        left: 15%;
    }

    .hh-area-switchers {
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
    }

    .hh-smithy-shop-offer,
    .hh-panel-fire-cannon {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}