@mixin above-fullscreen-leaflet {
  position: fixed;
  z-index: 100000;
}

.hh-icon-loading {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(360deg); }
}

.no-pointer-events {
    pointer-events: none;
}

.hh-expansion-hidden {
  .v-expansion-panel-title__icon {
    color: #fff;
  }
}
